{% extends 'base_template.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <form class="row" method="post" enctype="multipart/form-data">
        <div class="card">
             <div class="card-body">
                <p>Информация о товаре</p>
              <h2>{{ product.name }}</h2>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Цена: {{ product.purchase_price }}</p>
              {% if product.owner %}
              <p class="card-text">Создал: {{ product.owner }}</p>
              {% else %}
              <p class="card-text">Создал: нет данных</p>
              {% endif %}
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  {% if user == product.owner %}
                  <a class="btn btn-primary" href="{% url 'catalog:main' %}" role="button">К списку товаров</a>
                  <a class="btn btn-secondary" href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
                  <a class="btn btn-danger" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                  {% elif perms.catalog.can_delete_product %}
                  <a class="btn btn-primary" href="{% url 'catalog:main' %}" role="button">К списку товаров</a>
                  <a class="btn btn-danger" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                  {% else %}
                  <a class="btn btn-primary" href="{% url 'catalog:main' %}" role="button">К списку товаров</a>
                  {% endif %}

                </div>
              </div>
             </div>
            <div class="col">

    </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}